<!-- Main content -->
<section class="calender">
  <div class="box" style="padding: 50px;">
    <div class="box-body">
      <h1>シフト表</h1>
      <div id="calendar"></div>
    <div class="box2-body" style="padding-top: 50px;">
        <h1>未提出者</h1>
        <div style="width: 50vw; height: 60px; background-color: #F5F8FA;">
            <div>
                <h3>田中、佐藤</h3>
            <div>
        </div>
    </div>
    </div>
  </div>
</section>