<h1>従業員一覧</h1>
<table class="table table-hover boards__table">
  <tbody>
    <% @users.each do |users| %>
        <div class="card w-100">
          <div class="card-body">
            <h3 class="card-title"><%= users.name %></h3>
            <% age = (Date.current.strftime('%Y%m%d').to_i - users.miseinen.strftime('%Y%m%d').to_i) / 10_000 %>
            <p class="card-text"></p>
            <p class="card-text">年齢：<%= age %></p>
            <p class="card-text">性別：
              <% if users.gender != "female" %>
                男
              <% else %>
                女
              <% end %>
            </p>
          </div>
        </div>
    <% end %>
  </tbody>
</table>